<!-- Default home page -->
<div class="default-page">
    <div class="header">
    </div>
    <div class="main container clearfix">

        <div id="main-react-mount"><%- reactOutput %></div>

    </div>
</div>
